<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Alaa\DynamicFrontName\Model\FrontNameInterface" type="Alaa\DynamicFrontName\Model\FrontName" />
    <preference for="Alaa\DynamicFrontName\Model\AdminMailListInterface" type="Alaa\DynamicFrontName\Model\AdminMailList" />
    <preference for="Alaa\DynamicFrontName\Model\MailerInterface" type="\Alaa\DynamicFrontName\Model\Mailer" />
    <type name="Alaa\DynamicFrontName\Logger\Handler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
    <type name="Alaa\DynamicFrontName\Logger\Logger">
        <arguments>
            <argument name="name" xsi:type="string">dynamic-frontname</argument>
            <argument name="handlers"  xsi:type="array">
                <item name="system" xsi:type="object">Alaa\DynamicFrontName\Logger\Handler</item>
            </argument>
        </arguments>
    </type>
</config>
