<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="backend_front_name_changed">
        <observer name="send_backend_url" instance="Alaa\DynamicFrontName\Observer\SendMail" />
        <observer name="flush_config_cache" instance="Alaa\DynamicFrontName\Observer\FlushConfigCache" />
    </event>
</config>